[workspace]
resolver = "2"
members = [ "crates/*" ]

[workspace.dependencies]
bytemuck = "1.13"
hearth-cognito = { path = "crates/hearth-cognito" }
hearth-core = { path = "crates/hearth-core" }
hearth-daemon = { path = "crates/hearth-daemon" }
hearth-init = { path = "crates/hearth-init" }
hearth-ipc = { path = "crates/hearth-ipc" }
hearth-fs = { path = "crates/hearth-fs" }
hearth-macros = { path = "crates/hearth-macros" }
hearth-network = { path = "crates/hearth-network" }
hearth-rend3 = { path = "crates/hearth-rend3" }
hearth-terminal = { path = "crates/hearth-terminal" }
hearth-types = { path = "crates/hearth-types" }
hearth-wasm = { path = "crates/hearth-wasm" }
parking_lot = "0.12"
rend3-alacritty = { path = "crates/rend3-alacritty" }
serde_json = "1"
tracing = "0.1.37"
wasmtime = "11"

[workspace.dependencies.serde]
version = "1.0.103, < 1.0.171"
default-features = false
features = ["derive"]
